[submodule ".registry"]
	path = .registry
	url = https://github.com/nareal/nareal.r-universe.dev
	branch = HEAD
[submodule "frenchdata"]
	path = frenchdata
	url = https://github.com/nareal/frenchdata
